.DS_Store
.build
*.aix

public/icons/
public/sources/
public/*.json

# transient staging dirs created by scripts/package.sh
sources/*/target
sources/*/public
templates/*/target

# clippy json output (CI)
clippy/

.idea
*.iml
.zed
.ropeproject
/target

icons.py
*.wvd
